<div class="redditOpen">
  <div>
    <a>
      <img
        src="assets\reddit_logo.png"
        title="Go to reddit home"
        alt="reddit_logo"
        class="reddit-icon-svg"
      />
      <img
        src="assets\reddit_text.png"
        title="Go to reddit home"
        alt="reddit_text"
        class="reddit-text"
      />
    </a>
  </div>
  <div>
    <div (click)="navigateToLogin(); $event.stopPropagation()" class="login">
      <a title="Log in to reddit">Log In</a>
    </div>
    <div (click)="navigateToSignup(); $event.stopPropagation()" class="login">
      <a title="Sign up to reddit">Sign Up</a>
    </div>
  </div>
</div>
