.header {
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%; 
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .redditHeader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .reddit-icon-svg {
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
  }
  
  .reddit-text {
    cursor: pointer;
    max-width: 75px;
    max-height: 23px;
    font-weight: 700;
  }
  
  .top-right-settings {
    position: absolute;
    right:0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .create-button {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 999px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #d4d4d4;
  }
  
  .add-symbol {
    font-size: 30px;
    margin-right: 5px;
    color: #2a3c42;
    margin-bottom: 5px;
  }
  
  .createText {
    font-size: medium;
    font-weight: 600;
    color: #2a3c42;
  }
  
  .signup, .login {
    margin-left: 10px;
    padding: 8px 12px;
    border-radius: 999px;
    background-color: hsl(16.04deg 100% 42.55%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .signup:hover, .login:hover {
    background-color: hsl(16.4deg 100% 29.41%);
  }
  
  .redditSearch {
    position: fixed;
    z-index: 1000;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .headerLine {
    position: fixed;
    top: 70px;
    width: 100%;
    border-bottom: 2px solid #b6b6b6;
  }
  
  .communityToggle {
      margin-right: 8px;
    margin-left: 2px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .communityToggle:hover{
    background-color: #d4d4d4;
  }

  .profile-settings{
    margin-left: 10px;
  }
  
  @media screen and (max-width: 1170px) {
    .reddit-text {
      display: none;
    }
  
    .reddit-icon-svg {
      height: 30px;
      width: 30px;
    }

    .redditSearch{
        width: 35%;
        left:27%;
    }
  
    .add-symbol {
      font-size: 30px;
    }
  
    .createText {
        padding: 0px;
      font-size: smaller;
    }

    .profile-settings{
        margin-left: 2px;
    }
  
    .login, .signup {
      font-size: 9px;
      padding: 4px 8px;
    }
  }
  