.voteContainer{
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 33px;
    background-color: #afafaf;
  }

  .upvoted{
    background-color: #d93a00;
    color: white;
  }

  .downvoted{
    background-color: #6a5cff;
    color: white;
  }

  .novote{
    background-color: #afafaf;
  }
  
  .upvote{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #666;
    padding: 5px 5px 5px 5px;
    border-radius: 999px;
    max-height: 30px;
  }
  
  .upvote:hover{
    background-color: #797979;
  }
  
  .downvote{
    align-items: center;
    justify-content: center;
    display: flex;
    transform: rotate(180deg);
    padding: 5px 5px 5px 5px;
    border-radius: 999px;
    max-height: 30px;
  }
  
  .downvote:hover{
    background-color: #797979;
  }
  
  
  .votesCount{
    padding-left: 2px;
    padding-right: 2px;
  }