<div appDetectOutsideClick (clickOutside)="clickedOutsideForm()">
  <div (click)="toggleSignInForm()" class="login">
    <a title="Log in to reddit">Log In </a>
  </div>
  <div class="logInForm" *ngIf="logIn">
    <span class="loginText">Log In</span>
    <form [formGroup]="logInForm" (ngSubmit)="login()">
      <br /><br />
      <label for="Username">Username</label><br />
      <input
        class="field"
        placeholder="Username"
        type="text"
        id="userName"
        name="userName"
        [formControlName]="'userName'"
      />
      <span
        *ngIf="
          !logInForm.get('userName')?.valid &&
          logInForm.get('userName')?.touched
        "
        ><br />Invalid username</span
      >
      <br /><br />
      <label for="Password">Password</label><br />
      <input
        class="field"
        placeholder="Password"
        type="text"
        id="password"
        name="Password"
        [formControlName]="'password'"
      />
      <span
        *ngIf="
          !logInForm.get('password')?.valid &&
          logInForm.get('password')?.touched
        "
        ><br />Invalid password</span
      >
      <br /><br />
      <input class="loginButton" type="submit" value="Log In" /><br />
      <div>
        <span style="margin-left: 5px"
          >New to Reddit?
          <a style="margin-left: 6px" class="loginSignup" routerLink="/signup"
            >Sign Up</a
          >
        </span>
      </div>
    </form>
  </div>
</div>
