<div class="commentTileComponent">
  <div
    style="display: flex; opacity: 0.7; margin-bottom: 8px"
    *ngIf="searchOrProfile"
  >
    <div>{{ comment.post?.communityName }}</div>
    <div style="padding: 5px">{{ comment.post?.postName }}</div>
  </div>
  <div class="commentDetails">
    <img src="assets/reddit-profile-outline.svg" class="profilePhtotoOutline" />
    <div (click)="openProfile(comment.userId)" class="commentUser">
      {{ comment.username }}
    </div>
    <div *ngIf="searchOrProfile">
      <div class="commentedOrReplied" *ngIf="comment.parentId === null">
        commented
      </div>
      <div class="commentedOrReplied" *ngIf="comment.parentId !== null">
        replied
      </div>
    </div>
    <div class="commentDate">{{ comment.creationDate | timeAgo }}</div>
  </div>
  <div>
    <div *ngIf="!editMode" class="commentText">
      <div *ngIf="!comment.isDeleted">
        {{ comment.comment }}
      </div>
      <div *ngIf="comment.isDeleted" style="font-size: medium">
        deleted by user
      </div>
    </div>
    <div *ngIf="editMode">
      <form
        name="comment-Input-Form"
        class="commentInputForm"
        [formGroup]="updatedCommentForm"
        (ngSubmit)="editComment(comment)"
      >
        <input
          class="commentInput"
          title="Add a comment"
          placeholder="Add a comment"
          [formControlName]="'commentDescription'"
        />
        <div class="editAction">
          <button class="cancelButton" (click)="discardEdit()">Cancel</button>
          <button class="commentButton" type="submit">Save Edits</button>
        </div>
      </form>
    </div>
    <div class="collapsableVoteAndReply">
      <img
        *ngIf="!comment.isCollapsed && currentExposedReplies > 0"
        class="collapseIcon"
        (click)="toggleCollapse()"
        src="assets/collapse.png"
      />
      <img
        *ngIf="comment.isCollapsed && comment.repliesCount > 0"
        class="collapseIcon"
        (click)="toggleCollapse()"
        src="assets/reveal.png"
      />
      <div
        [ngClass]="{
          vote:
            (comment.isCollapsed && comment.repliesCount > 0) ||
            (!comment.isCollapsed && currentExposedReplies > 0)
        }"
      >
        <app-vote
          [isForComment]="true"
          [voteCount]="comment.votes"
          [postId]="comment.postId"
          [commentId]="comment.commentId"
          [currentVote]="comment.currentVote"
          (voteCompleted)="updateCommentVote(comment.commentId, comment.postId)"
        ></app-vote>
      </div>
      <div>
        <button class="replyButton" (click)="toggleReplyMode()">
          <img src="assets/comment.svg" class="replyIcon" />Reply
        </button>
      </div>
      <div appDetectOutsideClick (clickOutside)="closeCommentAction()">
        <div
          *ngIf="userComment && !comment.isDeleted"
          class="commentUserAction"
        >
          <img
            (click)="openCommentAction(); $event.stopPropagation()"
            src="assets/three-dots.svg"
            class="commentDelete"
          />
          <div *ngIf="commentAction" class="container-box">
            <div
              class="commentActionTile"
              (click)="deleteComment($event, comment)"
            >
              Delete Comment
            </div>
            <div class="commentActionTile" (click)="toggleEditMode(comment)">
              Edit Comment
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-comment-reply-form
        *ngIf="replyMode"
        [commentMode]="true"
        (replyModeClosed)="toggleReplyMode()"
        (commented)="createComment($event)"
        [parentCommentId]="comment.commentId"
        [postId]="comment.postId"
      ></app-comment-reply-form>
    </div>
    <div *ngIf="!searchOrProfile">
      <div
        *ngIf="comment.repliesCount - currentExposedReplies > 0 && !replyMode"
      >
        <button
          class="showReplies"
          (click)="showReplies(comment.commentId, comment.postId)"
        >
          show {{ comment.repliesCount - currentExposedReplies }} more reply
        </button>
      </div>
    </div>
  </div>
</div>
