.searchPage {
    background-color: #f1f1f1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box;
}

.searchResultsText {
    margin: 10px;
    font-size: 12px;
    color: #576F76;
    font-weight: 600;
}

.searchResultPageButton {
    margin: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    border: transparent;
    font-size: medium;
    color: #181C1F;
    border-radius: 999px;
}

.search-nav-bar {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.searchResultsOnTopic {
    background-color: #f1f1f1;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column; /* Ensure child elements stack vertically */
}

/* Optional: Center the entire page content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1170px) {
    .searchResultsText {
      font-size: 14px;
      margin-bottom: 10px; /* Added margin to separate from buttons */
    }
  
    .searchResultPageButton {
      margin: 5px; /* Reduced margin for better fit */
      padding: 10px;
      font-size: smaller;
    }
  
    .searchResultsOnTopic {
      width: 100%;
      padding: 0 10px;
    }
  
    .searchPage {
        width: 100%;
      padding: 10px;
    }
  }
