<div appDetectOutsideClick (clickOutside)="closeSettings()">
  <img
    (click)="toggleSettingsMenu()"
    title="Open settings menu"
    src="assets\three-dots.svg"
    alt="settings menu"
    class="settings-menu"
  />
</div>
<div (click)="openSignUpForm($event)">
  <header class="container-box" *ngIf="settingsOn">
    <div (click)="this.openedProfile.emit()" class="profileButton">
      <div style="display: flex; align-items: center">
        <img
          src="assets\profile-icon.webp"
          class="profile-icon"
          alt="Your Profile"
        />
        <div>
          <div class="signup">View Profile</div>
          <div class="userName">u/{{ userName }}</div>
        </div>
      </div>
    </div>
    <div (click)="this.loggedOut.emit()" class="logoutButton">
      <img src="assets\logout.png" class="logout-icon" alt="Log Out" />
      <span class="signup">Log Out</span>
    </div>
  </header>
</div>
