<div appDetectOutsideClick (clickOutside)="closeSettings()">
  <img
    (click)="toggleSettingsMenu()"
    title="Open settings menu"
    src="assets\three-dots.svg"
    alt="settings menu"
    class="settings-menu"
  />
</div>
<div (click)="openSignUpForm($event)">
  <header class="container-box" *ngIf="settingsOn">
    <div (click)="this.loggedOut.emit()">
      <img src="assets\logout.png" class="logout-icon" alt="Log Out" />
      <span class="signup">Log Out</span>
    </div>
  </header>
</div>
