.settings-menu{
    max-height: 25px;
    max-width: 25px;
    margin-right: 20px;
    border-radius: 50%;
}

.settings-menu:hover{
    background-color: #dad5d5;
    opacity: 0.6;
}

.container-box{
    cursor: pointer;
    position: absolute;
    width: 250px;
    margin-top:22px;
    border-radius: 8px;
    border: 2px solid rgb(196, 193, 188);
    box-decoration-break: slice;
    position: absolute;
    right: 10px;
    background-color: white;
    z-index: 1;
}

.profileButton,.logoutButton{
    padding: 10px;
}

.logoutButton:hover{
    background-color: rgb(176, 181, 185);
}

.profileButton:hover{
    background-color: rgb(176, 181, 185);
}

.logout-icon{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    max-height: 40px;
    max-width: 40px;
}

.profile-icon{
    max-height: 40px;
    max-width: 40px;
}

.profile-icon,.logout-icon{
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.userName{
    font-size: 15px;
    color: #474747;
    opacity: 0.9;
}

.signup{
    color: black;
    text-decoration: none;
}
