<form
  [formGroup]="commentForm"
  name="comment-Form"
  (ngSubmit)="createComment()"
>
  <div class="commentReplyForm">
    <div class="commentInputGroup">
      <textarea
        (click)="activateCommentMode()"
        [style.height]="commentMode ? '50px' : '30px'"
        appDetectOutsideClick
        (input)="adjustTextareaHeight()"
        (clickOutside)="checkCommentInvalid()"
        class="commentInput"
        title="Add a comment"
        placeholder="Add a comment"
        [formControlName]="'commentDescription'"
        id="commentInputId"
        #commentTextarea
      ></textarea>
    </div>
    <div class="commentCancelButtons" *ngIf="commentMode">
      <span
        style="display: flex; color: red; position: absolute; left: 0"
        *ngIf="commentInvalid"
      >
        The field is required and cannot be empty
      </span>
      <button class="cancelButton" (click)="deactivateCommentMode()">
        Cancel
      </button>
      <button class="commentButton" type="submit">Comment</button>
    </div>
  </div>
</form>
