.no-results-icon{
    height: 60px;
    width: 60px;
  }

  div span.adjustSearch {
    padding: 10px;
    text-decoration: underline;
    color: rgb(38, 107, 255);
    cursor: pointer; /* More specific selector */
  }