.content-wrapper {
    padding-top: 70px; 
  }

  .communitiesContainer{
    z-index: 1;
    background-color: #f1f1f1;
    padding: 10px 10px 10px 10px;
    padding-right: 0px;
    position: fixed;
    left:0;
    justify-self: left;
  }