.content-wrapper {
    padding-top: 70px; 
  }

  .communitiesContainer{
    z-index: 1;
    background-color: #f1f1f1;
    padding: 10px 10px 10px 10px;
    padding-right: 0px;
    position: fixed;
    left:0;
    justify-self: left;
  }

  header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  :host {
    display: block;
    height: 100%;
  }