<div class="reddit-container" *ngIf="post">
  <div class="reddit-post">
    <div style="display: flex; align-items: center; margin-bottom: 10px">
      <img
        src="assets/community-icon.svg"
        (click)="navigateToCommunity(post.communityId)"
        class="comunityIcon"
      />
      <div>
        <div style="display: flex; align-items: center; line-height: 1">
          <div
            class="community"
            (click)="navigateToCommunity(post.communityId)"
          >
            <button class="communityNameButton">
              r/{{ post.communityName }}
            </button>
          </div>
          <span class="separator">.</span>
          <span class="postDate">{{ post.creationDate | timeAgo }}</span>
          <div appDetectOutsideClick (clickOutside)="closeCommentAction()">
            <div *ngIf="userPost && !post.isDeleted" class="postUserAction">
              <img
                (click)="openCommentAction(); $event.stopPropagation()"
                src="assets/three-dots.svg"
                class="postDelete"
              />
              <div *ngIf="postAction" class="container-box">
                <div class="postActionTile" (click)="deletePost($event, post)">
                  Delete Post
                </div>
                <div class="postActionTile" (click)="toggleEditMode(post)">
                  Edit Post
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="postUser"
          (click)="openProfile(post.userId); $event.stopPropagation()"
        >
          u/{{ post.userName }}
        </div>
      </div>
    </div>
    <div *ngIf="!editMode">
      <h4>{{ post.postName }}</h4>
      <p [innerHTML]="sanitizedDescription"></p>
    </div>
    <div *ngIf="editMode">
      <form
        name="post-Input-Form"
        class="postInputForm"
        [formGroup]="updatedPostForm"
        (ngSubmit)="editPost(post)"
      >
        <div class="tinymce-container">
          <editor
            apiKey="5n5jdjo2aatn8r1zom7letmjo1mus47rhedeosgw9cgpn9w2"
            [formControlName]="'postDescription'"
            [init]="{
              height: 400,
              menubar: false,
              toolbar:
                'undo redo spellcheckdialog  | blocks fontfamily fontsize | bold italic underline forecolor backcolor | link image | align lineheight checklist bullist numlist | indent outdent | removeformat typography'
            }"
          >
          </editor>
        </div>
        <div class="editAction">
          <button class="cancelButton" (click)="discardEdit()">Cancel</button>
          <button class="postButton" type="submit">Save Edits</button>
        </div>
      </form>
    </div>
    <div class="voteCommentContainer">
      <app-vote
        [voteCount]="post.votes"
        [postId]="post.postId"
        [currentVote]="post.currentVote"
        (voteCompleted)="updatePost($event)"
      ></app-vote>
      <div class="commentContainer" (click)="scrollToComments(comments)">
        <img src="assets\comment.svg" class="comment" />
        <span class="commentsCount">{{ post.comments }}</span>
      </div>
    </div>
  </div>
  <div class="headerLine"></div>
  <div #comments>
    <app-comment
      [singleThreadCommentId]="singleThreadCommentId"
      (commentsRendered)="checkScrollToComments()"
      [postId]="post.postId"
      (commented)="updatePost(false)"
    ></app-comment>
  </div>
</div>
