.reddit-container {
  position: relative;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 0 auto;
}

.reddit-post {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    max-width: 700px;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
  }
  
  .post-details {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 0.8em;
  }
  
  .post-details span {
    display: inline-block;
  }
  
  .postDate{
    margin-left: 8px;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 700;
  }

  .community :hover {
    background-color: #dadada;
  }

  .postUser{
    font-weight: 400;
    top:0;
    padding-left: 5px;
    font-size: small;
    cursor: pointer;
  }

  .separator {
    padding-bottom: 5px;
    font-weight: bold;
  }

  .comunityIcon{
    align-items: center;
    cursor: pointer;
    height: 42px;
    width: 42px;
  }

  .postUser:hover{
    color: rgb(43, 99, 221);
  }

  .community {
    width: max-content;
    margin-right: 2px;
    font-weight: 20px;
    font-size: small;
  }

  .community :hover {
    background-color: #dadada;
  }

  .communityNameButton {
    height: 20px;
    border: transparent;
    background-color:transparent;
  }
  
  .voteContainer{
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 33px;
    background-color: #afafaf;
  }
  
  .upvote{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #666;
    padding: 5px 5px 5px 5px;
    border-radius: 999px;
    max-height: 30px;
  }
  
  .upvote:hover{
    background-color: #797979;
  }
  
  .downvote{
    align-items: center;
    justify-content: center;
    display: flex;
    transform: rotate(180deg);
    padding: 5px 5px 5px 5px;
    border-radius: 999px;
    max-height: 30px;
  }
  
  .downvote:hover{
    background-color: #797979;
  }
  
  
  .votesCount{
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .commentContainer{
    margin-left: 10px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: fit-content;
    height: 33px;
    background-color: #bbbbbb;
  }
  
  .commentContainer:hover{
    background-color: #797979;
  }
  
  .comment{
    width: 50px;
    height: 25px;
  }
  
  .commentsCount{
    margin-right: 20px;
    font-size: small;
  }
  
  .voteCommentContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .post-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  .post-link:hover {
    text-decoration: underline;
  }
  
  .headerLine{
    margin: 10px;
    margin-top: 5px;
    border-bottom: Solid 1px #b6b6b6;
  }

  .postInput{
    border-radius: 15px;
    width: 100%;
    height:80px;
}

.editAction{
  display: flex;
  position: absolute;
  right:0;
}

.cancelButton {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  margin: 5px;
  margin-right: 10px;
  height: fit-content;
  width: 55px;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: #b9b9b9;
  border-color: transparent;
}

.cancelButton:hover {
  background-color: #9b9b9b;
}


.postButton {
  font-size: 13px;
  font-weight: 600;
  height: fit-content;
  width: 75px;
  margin: 5px;
  margin-left: 0px;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  color: white;
  background-color: #D93A00;
  border-color: transparent;
}

.postButton:hover{
  background-color: #8d2600;
}

.container-box{
  background-color: #f1f1f1;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  position: absolute;
  margin-top: 30px;
  right: 0;
  top:0;
  min-width: 50px;
  min-height: 20px;
  z-index: 10;
}

.postUserAction{
  position: absolute;
  right:0;
}

.postDelete{
  position: relative;
  padding: 8px;
  border-radius: 10px;
  max-height: 30px;
  justify-content: stretch;
}

.postDelete:hover{
  background-color: #afafaf;
}

.postActionTile{
  cursor: pointer;
  display: flex;
  right:0;
  justify-content: left;
  padding: 10px;
  align-items: center;
  height: 50px;
  width: 200px;
  font-size: medium;
}

.postActionTile:hover{
  background-color: #cacaca;
}

.tinymce-container {
  border: solid 2px rgb(153, 153, 153); /* Add a 1px solid border with a light gray color */
  border-radius: 5px; /* Add border radius for rounded corners */
}

.tinymce-container:hover {
  border: solid 2px rgb(90, 90, 90);
}

@media screen and (max-width: 1170px) {
  .reddit-container{
    position: absolute;
    width: 100%;
  } 
}