.redditSearch {
  position: fixed;
  top:16px;
  right:40%;
  padding-left: 33px;
  width: 30%;
  height: 40px;
  border-radius: 20px;
  border: transparent;
  background-color: #f0f0f0;
  opacity: 0.8;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 9px center;
}

.redditSearch:hover {
  background-color: #e4e4e4;
}

.searchCommunityButton {
  justify-content: left;
  align-items: center;
  padding: 16px;
  display: flex;
  background-color: transparent;
  border: transparent;
  width: 30%;
  font-size: medium;
}

.searchedContainer {
  z-index: 1000;
  padding-top: 15px;
  position: fixed;
  top: 60px; /* Adjusted to align with search bar */
  right:40%;
  background-color: #f1f1f1;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.searchButton {
  cursor: pointer;
  padding: 10px;
  opacity: 0.7;
  color: #727272;
}

.searchIcon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

@media screen and (max-width: 1170px) {
  .redditSearch {
    width: 35%;
  }
  .searchedContainer {
    width: 35%;
  }

  .searchresult{
    font-size: smaller;
  }
}
