.community {
    width: min-content;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: 20px;
    font-size: small;
  }

  .postName{
    font-size: 23px;
    font-weight: 500;
  }

  .community :hover {
    border-radius: 5px;
    background-color: #dadada;
  }

  .commentContainer{
    margin-left: 10px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: fit-content;
    height: 33px;
    background-color: #bbbbbb;
  }

  .communityNameButton {
    border: transparent;
    background-color:transparent;
  }
  
  .commentContainer:hover{
    background-color: #797979;
  }
  
  .comment{
    width: 50px;
    height: 25px;
  }
  
  .commentsCount{
    margin-right: 20px;
    font-size: small;
  }
  
  .voteCommentContainer{
    display: flex;
    align-items: center;
  }