<div>
  <div (click)="navigateToCommunity(post.communityId)" class="community">
    <button *ngIf="showCommunityName" class="communityNameButton">
      {{ post.communityName }}
    </button>
  </div>
  <h4 class="postName">{{ post.postName }}</h4>
  <p class="postDescription" [innerHtml]="trucatedDescription"></p>
</div>
<div class="voteCommentContainer">
  <app-vote
    [voteCount]="post.votes"
    [postId]="post.postId"
    [currentVote]="post.currentVote"
    (voteCompleted)="updatePost(post, $event)"
  ></app-vote>
  <div class="commentContainer" (click)="openComments()">
    <img src="assets\comment.svg" class="comment" />
    <span class="commentsCount">{{ post.comments }}</span>
  </div>
</div>
