  .postName{
    padding-top: 5px;
    font-size: 23px;
    font-weight: 500;
  }

  .postDate{
    margin-left: 8px;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 700;
  }

  .community :hover {
    border-radius: 5px;
    background-color: #dadada;
  }

  .separator {
    padding-bottom: 5px;
    font-weight: bold;
  }

  .comunityIcon{
    align-items: center;
    cursor: pointer;
    height: 28px;
    width: 28px;
  }

  .postUser:hover{
    color: rgb(43, 99, 221);
  }

  .commentContainer{
    margin-left: 10px;
    border-radius: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: fit-content;
    height: 33px;
    background-color: #bbbbbb;
  }

  .community {
    width: max-content;
    border-radius: 5px;
    margin-right: 2px;
    font-weight: 20px;
    font-size: small;
  }

  .community :hover {
    border-radius: 5px;
    background-color: #dadada;
  }

  .communityNameButton {
    height: 20px;
    border: transparent;
    background-color:transparent;
  }
  
  .commentContainer:hover{
    background-color: #797979;
  }
  
  .comment{
    width: 50px;
    height: 25px;
  }
  
  .commentsCount{
    margin-right: 20px;
    font-size: small;
  }
  
  .voteCommentContainer{
    z-index: 5;
    display: flex;
    align-items: center;
  }

  .joinButton {
    margin: 5px;
    text-align: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
    border-radius: 300px;
    border: 1.5px solid rgb(24, 24, 24);
    font-weight: 500;
    color: white;
    background-color: #0045ac;
  }
  
  .joinedButton {
    margin: 5px;
    justify-content: right;
    align-content: center;
    text-align: center;
    font-weight: 500;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
    border-radius: 300px;
    border: 1.5px solid rgb(24, 24, 24);
  }
  
  .joinedButton:hover {
    border: 2px solid black;
  }
  
  .joinButton:hover {
    background-color: #002255;
  }

  .container-box{
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #a8a8a8;
    position: absolute;
    margin-top: 30px;
    right: 0;
    top:0;
    min-width: 50px;
    min-height: 20px;
  }
  
  .postUserAction{
    margin-right: 10px;
    position: relative;
    right:0;
  }
  
  .postDelete{
    padding: 8px;
    border-radius: 10px;
    max-height: 30px;
    justify-content: stretch;
  }

  .postDelete:hover{
    background-color: #acacac;
  }
  
  .postActionTile{
    cursor: pointer;
    display: flex;
    right:0;
    justify-content: left;
    padding: 10px;
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: medium;
  }

  .postActionTile:hover{
    background-color: #acacac !important;
  }