
.communityContainer{
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-left: 200px;
}

.communitySection{
  justify-content: center;
}

.community{
    display: flex;
    justify-content: center;
  }

  .metrics {
    display: flex;
    width: 60%;
    margin: 10px auto; /* Center the metrics container within the parent */
    justify-content: space-between; /* Space between membersCount and postsCount */
  }
  
  .membersCount, .postsCount {
    flex: 1; /* Each section takes up equal space */
    display: flex;
    flex-direction: column; /* Ensure the text is in a column */
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text */
  }

  .membersCount p, .postsCount p {
    margin: 0; /* Remove default margin */
    padding: 2px 0; /* Add small padding to control spacing */
  }

  .readMoreLessButton{
    background-color: transparent;
    border-color: transparent;
    color: #0045ac;
    font-size: medium;
  }

.headerLine{
  margin: 10px;
  margin-top: 5px;
  vertical-align: auto;
  border-bottom: Solid 1px #b6b6b6;
}

.communityHeader{
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  height: max-content;
  border-radius: 15px;
  background-color: rgb(218, 218, 218);
}

.communityTitle{
  height: 100px;
  width: 700px;
  margin-left: 15px;
  margin-top: 40px;
}

.postsAndAbout{
  display: flex;
}

.communityAbout {
  position: sticky;
  top: 80px;
  bottom: 0;
  padding-top: 10px;
  height: auto;
  max-height: 80vh; 
  width: 250px;
  right: 0;
  overflow-y: auto; 
  overflow-x: hidden;
  margin-left: 50px;
  justify-self: right;
}

.reddit-container {
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 10px;
  width: 700px;
  justify-self: center;
}

.reddit-post {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.reddit-post:hover{
  background-color: #c7c7c7;
}

.joinButton {
  margin: 5px;
  text-align: center;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
  border-radius: 300px;
  border: 1.5px solid rgb(24, 24, 24);
  font-weight: 500;
  color: white;
  background-color: #0045ac;
}

.joinedButton {
  margin: 5px;
  justify-content: right;
  align-content: center;
  text-align: center;
  font-weight: 500;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
  border-radius: 300px;
  border: 1.5px solid rgb(24, 24, 24);
}

.joinedButton:hover {
  border: 2px solid black;
}

.joinButton:hover {
  background-color: #002255;
}

/* Styles for mobile screens */

@media screen and (max-width: 1170px) {
  .communityContainer {
    margin-left: 0; /* Remove left margin */
  }

  .communitySection {
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center align items */
  }

  .communityHeader {
    display: flex;
    flex-direction: column;
    margin-left: 0; /* Remove left margin */
    justify-content: center; /* Center align items */
  }

  .communityTitle {
    width: 100%; /* Adjust width to full width */
    padding-top: 20px;
  }

  .reddit-container {
    width: 100%; /* Adjust width to full width */
    margin-top: 10px; /* Adjust margin */
  }

  .community {
    order: 2; 
  }

  .communityAbout {
    order: 1; 
    width: 100%; /* Adjust width to full width */
    position: relative; /* Remove sticky position */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: none; /* Remove max height */
  }

  .metrics {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }

  .membersCount,
  .postsCount {
    margin: 5px 0; /* Adjust margin */
  }

  .postsAndAbout{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .communityHeaderAction{
    position: relative;
    justify-content: space-between;
    align-items: center;
    top:-30px;
    width: 80%;
  }

  .communityAbout{
    width: 80%;
    top:30px;
    position: relative;
    justify-content: center;
  }
}
