<div class="communitiesContainer">
  <app-communities></app-communities>
</div>
<div class="communityContainer">
  <div class="communitySection">
    <div class="communityHeader">
      <h1 class="communityTitle">{{ community.communityName }}</h1>
      <button (click)="navigateToCreate()" class="joinedButton">
        <span>+</span> Create Post
      </button>
      <button class="joinButton" *ngIf="joinButton" (click)="joinCommunity()">
        Join
      </button>
      <button
        class="joinedButton"
        *ngIf="!joinButton"
        (click)="leaveCommunity()"
      >
        Joined
      </button>
    </div>
    <div class="postsAndAbout">
      <div class="community">
        <div>
          <div class="reddit-container">
            <div *ngFor="let post of community.posts">
              <div (click)="navigateToPost(post.postId)" class="reddit-post">
                <app-post-tile [post]="post"></app-post-tile>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="communityAbout">
        <h5>About</h5>
        <p [innerHtml]="sanitizedDescription"></p>
        <div class="metrics">
          <div class="membersCount">
            <p style="justify-self: center">{{ community.numberOfMembers }}</p>
            <p style="justify-self: center">Members</p>
          </div>
          <div class="postsCount">
            <p style="justify-self: center">
              {{ community.numberOfPosts ? community.numberOfPosts : 0 }}
            </p>
            <p style="justify-self: center">Posts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
