/* Ensure the parent container centers its content */
.content-wrapper {
    position: absolute;
    z-index: 0;
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top */
    padding-top: 10px; /* Maintain padding for the header */
    width: 100%;
}

.createPostContainer {
    position: relative;
    width: 900px; /* Fixed width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    z-index: 1; /* Ensure createPostContainer elements are above tinymce-container */
}

/* Ensure .createCommunityHeader content is spaced correctly */
.createCommunityHeader {
    display: flex;
    justify-content: space-between; /* Space between elements */
    align-items: center;
    margin-bottom: 20px; /* Add some space below the header */
    z-index: 2; /* Ensure header elements are above tinymce-container */
}

/* Style adjustments for other elements as provided */
.createCommunityButton {
    width: max-content;
    background-color: hsl(16.04deg 100% 42.55%);
    border-color: transparent;
    color: #ffffff;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 12px;
    text-decoration: none;
    z-index: 2; /* Ensure button is above tinymce-container */
}

.createCommunityButton:hover {
    background-color: hsl(16.4deg 100% 29.41%);
    color: #ffffff;
}

.communityOptions {
    margin-top: 20px;
    width: 230px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    background-color: #eaedef;
    z-index: 2; /* Ensure options are above tinymce-container */
}

.communityOptions:hover {
    background-color: rgb(179, 179, 179);
}

.dropDownSymbol {
    display: inline-block;
    transform: rotate(180deg); /* Rotate the symbol 180 degrees */
}

.titleLabel {
    margin-top: 20px;
    z-index: 2; /* Ensure label is above tinymce-container */
}

.title {
    width: 100%; /* Adjust width to fit container */
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px rgb(153, 153, 153);
    z-index: 2; /* Ensure title input is above tinymce-container */
}

.title:hover {
    border: solid 2px rgb(90, 90, 90);
}

.tinymce-container {
    border: solid 2px rgb(153, 153, 153); /* Add a 1px solid border with a light gray color */
    border-radius: 5px; /* Add border radius for rounded corners */
    position: relative; /* Ensure position is set */
    z-index: 0; /* Place tinymce-container behind other elements */
}

.tinymce-container:hover {
    border: solid 2px rgb(90, 90, 90);
}

.communitiesContainer {
    background-color: #ffffff;
    padding: 10px;
    position: fixed;
    left: 0;
    justify-self: left;
}

@media screen and (max-width: 1590px) {
    .communitiesContainer {
        display: none; /* Hide the section */
    }
}
