.reddit-container {
  overflow: auto;
  padding-top: 10px;
  width: 700px;
  justify-self: center;
}

.reddit-post {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.reddit-post:hover{
  background-color: #c7c7c7;
}

.headerLine{
    margin: 10px;
    margin-top: 5px;
    vertical-align: auto;
    border-bottom: Solid 1px #b6b6b6;
  }