.searchPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile-info {
  border: 2px solid #576F76;
  background-color: #61b2ca;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.profile-image {
  margin-right: 20px;
}

.profile-details {
  display: flex;
  align-items: last baseline;
  flex-grow: 1;
  justify-content: space-between;
}

.parameters {
  text-align: right;
}

.parameters > div {
  margin-bottom: 5px;
}

.profile-icon {
  height: 150px;
  width: 95px;
}

.searchResultsText {
  margin: 10px;
  font-size: 15px;
  color: #576F76;
  font-weight: 600;
}

.searchResultPageButton {
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  border: transparent;
  font-size: medium;
  color: #181C1F;
  border-radius: 999px;
}

.search-nav-bar {
  display: flex;
  align-items: center;
  justify-content: left;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reddit-container {
  overflow: auto;
  padding-top: 10px;
  width: 700px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.reddit-post {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 20px;
  width: 700px;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.reddit-post:hover {
  background-color: #c7c7c7;
}

.headerLine {
  margin: 10px;
  margin-top: 2px;
  vertical-align: auto;
  border-bottom: solid 1px #b6b6b6;
}

@media screen and (max-width: 767px) {
  .profile-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-image {
    margin: 0 0 10px 0;
  }

  .profile-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .parameters {
    text-align: center;
  }

  .profile-icon {
    height: 100px;
    width: 60px;
  }

  .searchResultPageButton {
    padding: 10px;
    font-size: small;
  }
  
  .reddit-post {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
  }

  .reddit-container {
    width: 100%;
  }
}

@media screen and (max-width: 1170px) {
  .profile-info{
    width: 100%;
  }
  .reddit-container {
    width: 100%;
  }
  .reddit-post {
    width: 100%;
  }
}