<div class="signUpForm">
  <span class="loginText">Sign Up</span>
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <br />
    <div>
      <label for="Email">Email</label><br />
      <input
        class="field"
        type="text"
        id="email"
        placeholder="Email Address"
        name="Email"
        [formControlName]="'email'"
      />
      <span
        *ngIf="
          !signUpForm.get('email')?.valid && signUpForm.get('email')?.touched
        "
        ><br />Invalid email</span
      >
      <br /><br />
    </div>
    <label for="Username">Username</label><br />
    <input
      class="field"
      placeholder="Username"
      type="text"
      id="userName"
      name="userName"
      [formControlName]="'userName'"
    />
    <span
      *ngIf="
        !signUpForm.get('userName')?.valid &&
        signUpForm.get('userName')?.touched
      "
      ><br />Invalid username</span
    >
    <br /><br />
    <label for="Password">Password</label><br />
    <input
      class="field"
      placeholder="Password"
      type="text"
      id="password"
      name="Password"
      [formControlName]="'password'"
    />
    <span
      *ngIf="
        !signUpForm.get('password')?.valid &&
        signUpForm.get('password')?.touched
      "
      ><br />Invalid password</span
    >
    <br /><br />
    <input class="loginButton" type="submit" value="Sign Up" />
    <br />
    <div>
      <span style="margin-left: 5px"
        >Existing User?
        <a
          (click)="navigateToLogin()"
          style="margin-left: 6px"
          class="loginSignup"
          >Log In</a
        >
      </span>
    </div>
  </form>
</div>
