<div class="homeContainer">
  <div
    *ngIf="isVisible && isToggleActive"
    class="backdrop"
    (click)="closeVisibility($event)"
  ></div>
  <div class="reddit-container">
    <div *ngIf="noPosts" class="emptyHome">
      <img src="../../assets/empty-profile.png" class="empty-posts-cat" />
      <div>Please do a favor and create a post.</div>
      <div>This cat is hungry</div>
    </div>
    <div
      (click)="navigateToPost(post.postId, false, false)"
      *ngFor="let post of posts$"
    >
      <div class="reddit-post">
        <app-post-tile
          [isUserPost]="post.isUserPost"
          (joinCommunity)="joinCommunity(post.communityId)"
          (leaveCommunity)="leaveCommunity(post.communityId)"
          [isJoined]="isCommunityJoined(post.communityId)"
          [showCommunityName]="true"
          [post]="post"
          (showComments)="navigateToPost(post.postId, false, true)"
          (postEditOpened)="navigateToPost(post.postId, true, false)"
        ></app-post-tile>
      </div>
      <div class="headerLine"></div>
    </div>
  </div>
  <div
    style="display: flex; position: fixed; right: 0; z-index: 1500"
    appSwipe
    (swipedLeft)="openVisibility()"
    (swipedRight)="closeVisibility($event)"
  >
    <div *ngIf="isToggleActive && isLoggedIn">
      <div (click)="toggleVisibility(); $event.stopPropagation()">
        <div *ngIf="!isVisible">
          <img
            class="recentPostsToggle"
            src="../../assets/sidePanelToggle.png"
          />
        </div>
        <div *ngIf="isVisible">
          <img
            class="recentPostsToggle"
            src="../../assets/revealPanelToggle.png"
          />
        </div>
      </div>
    </div>
    <div appDetectOutsideClick (clickOutside)="closeVisibility($event)">
      <div
        appScreenWidthToggle
        [threshold]="1400"
        (activateToggle)="activateToggle($event)"
      >
        <div class="recentPosts" *ngIf="recentPostsVisible && isVisible">
          <div class="headingRecentPosts">
            <div class="RecentPostsText">Recent Posts</div>
            <button class="clearButton" (click)="clearHistory()">Clear</button>
          </div>
          <div class="recentPostsList" *ngFor="let post of recentPosts$">
            <div (click)="navigateToRecentPost(post.postId, false)">
              <div style="display: flex; padding: 5px">
                <img
                  (click)="navigateToCommunity(post.communityId)"
                  class="comunityIcon"
                  src="assets/community-icon.svg"
                />
                <span
                  class="communityNameText"
                  (click)="navigateToCommunity(post.communityId)"
                  >r/{{ post.communityName }}</span
                >
              </div>
              <div style="padding: 10px">
                <div>
                  <span style="font-size: large">{{ post.postName }}</span>
                </div>
                <div style="padding-top: 10px">
                  <span>{{ post.votes }} votes</span>
                  <span style="padding-left: 10px"
                    >{{ post.comments }} comments</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
