<div class="commentComponent">
  <div *ngIf="!singleThread">
    <app-comment-reply-form
      (commented)="createComment($event)"
      [postId]="postId"
    ></app-comment-reply-form>
  </div>
  <div class="headerLine1">
    <div *ngIf="loading" class="loading-line"></div>
  </div>
  <div class="threadDiscussion" *ngIf="singleThread">
    <span class="singleThreadButton">Single Thread</span>
    <span class="headerLine"></span>
    <span class="openThreadButton" (click)="navigateToPost(postId)"
      >See Full Discussion</span
    >
  </div>
  <div class="commentSection">
    <div class="individualComment" *ngFor="let comment of comments$">
      <div class="reddit-post">
        <ng-container
          *ngTemplateOutlet="commentTemplate; context: { $implicit: comment }"
        ></ng-container>
      </div>
    </div>

    <ng-template #commentTemplate let-comment>
      <app-comment-tile
        (loadingClose)="closeLoading()"
        (collapseToggled)="updateCollapseBool(comment.commentId)"
        (showMoreReplies)="showMoreReplies($event)"
        (replied)="createComment($event)"
        (updateComments)="updateComments()"
        [comment]="comment"
        [currentExposedReplies]="
          comment.repliesMap ? comment.repliesMap.size : 0
        "
        [userComment]="isUserComment(comment)"
      >
      </app-comment-tile>
      <div *ngIf="!comment.isCollapsed">
        <div class="line">
          <div
            class="reply"
            *ngFor="let reply of comment.repliesMap | keyvalue"
          >
            <ng-container
              *ngTemplateOutlet="
                commentTemplate;
                context: { $implicit: reply.value }
              "
            >
            </ng-container>
          </div>
        </div>
      </div>
    </ng-template>
    <div
      style="display: flex; align-items: center"
      *ngIf="comments$.length === 0 && !loading"
    >
      <img src="assets/empty-comments.png" class="no-results-icon" />
      <div>
        <h3 style="font-size: 20px; font-weight: 500; margin-bottom: 10px">
          Be the first to comment
        </h3>
        <span style="font-size: 18px">Nobody's responded to this post yet.</span
        ><br />
        <span style="font-size: 18px"
          >Add your thoughts and get the conversation going.</span
        >
      </div>
    </div>
  </div>
</div>
