.commentComponent{
    height: 100%;
}

.commentSection{
    padding: 5px;
    width: 700px;
}

.commentUser{
    font-weight: bolder;
    font-size: smaller;
}

.commentText{
    font-weight: 450;
    font-size: 17px;
}

.commentSection{
    margin-top: 50px;
    position: absolute;
}

.individualComment{
    margin: 10px;
}

.line {
    position: relative;
    border-left: 2px solid #9b9b9b;
    margin-left: 6px; /* Adjust this value as needed */
  }

  .line:hover {
    border-color: #4b4b4b;
  }

.reddit-post {
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
  }

  .headerLine {
    opacity: 0.6;
    flex-grow: 1;
    height: 1px;
    background-color: rgb(151, 164, 194);
    margin: 0 10px;
}

.headerLine1 {
  width: 100%; /* Adjust the width as needed */
  height: 2px; /* Set a fixed height for the line */
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-bottom: solid 1px #b6b6b6;
}

  .threadDiscussion {
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure buttons are within the parent */
    position: relative; /* Ensure it's positioned correctly */
    padding: 10px; /* Added padding for spacing */
}

.singleThreadButton, .openThreadButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: 500;
    color: rgb(38, 107, 255);
}

.singleThreadButton {
    margin-right: auto;
    cursor: default;
}

.openThreadButton {
    margin-left: auto; /* Align right */
}

.openThreadButton:hover {
    text-decoration: underline;
}

  .reply {
    width: calc(100% - 20px);
    margin-left: 20px; /* Indent replies */
  }



  .loading-line {
    position: absolute; /* Position it relative to the parent */
    left: 0; /* Start from the left edge of the parent */
    width: 40px; /* Initial width of the loading line */
    height: 2px; /* Height of the loading line */
    background-color: #ff3c00; /* Color of the loading line */
    z-index: 999; /* Ensures the loading line stays on top of other content */
    animation: move 4s infinite linear; /* Animation for moving from left to right */
}

@keyframes move {
    0% {
        left: 0; /* Start from the left edge */
    }
    50% {
        left: calc(100% - 20px); /* Move to the right edge minus the width of the loading bar */
    }
    100% {
        left: 0; /* Reset back to the left edge */
    }
}

.no-results-icon{
    height: 110px;
    width: 62px;
    margin-right: 20px;
    align-items: center;
  }

  @media screen and (max-width: 1170px) {
    .commentComponent{
        width: 100%;
    }

    .commentSection{
        width: 95%;
    }
         
  }