<div class="commentComponent">
  <form [formGroup]="commentForm" (ngSubmit)="createComment()">
    <div class="commentInputGroup">
      <input
        appDetectOutsideClick
        (clickOutside)="checkCommentInvalid()"
        class="commentInput"
        title="Add a comment"
        placeholder="Add a comment"
        [formControlName]="'commentDescription'"
      />
      <button class="commentButton" type="submit">Comment</button>
    </div>
    <span style="display: flex; color: red" *ngIf="commentInvalid">
      The field is required and cannot be empty
    </span>
  </form>
  <div class="commentSection">
    <div class="individualComment" *ngFor="let comment of comments$">
      <div class="reddit-post"></div>
      <ng-container
        *ngTemplateOutlet="commentTemplate; context: { $implicit: comment }"
      ></ng-container>
      <div class="headerLine"></div>
    </div>

    <ng-template #commentTemplate let-comment>
      <app-comment-tile
        (commentEdited)="editComment($event)"
        (updateComments)="updateComments()"
        [comment]="comment"
        [userComment]="isUserComment(comment)"
      ></app-comment-tile>
      <div class="reply" *ngFor="let reply of comment.replies">
        <ng-container
          *ngTemplateOutlet="commentTemplate; context: { $implicit: reply }"
        ></ng-container>
      </div>
    </ng-template>
  </div>
</div>
